.form-login {
  text-align: center;
  padding: 2rem;
}

.form-login img {
  max-width: 240px;
}

.form-login input {
  padding: 1rem 1rem;
  font-size: 1rem;
  width: 40%;
  border: 1px solid #ddd;
  border-radius: 20px;
  max-width: 500px;
  margin: 0 2rem;
  margin-top: 32px;
}

.form-login button {
  font-size: 1rem;
  margin: 2rem;
  width: 40%;
  max-width: 150px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: #e1a122;
  color: #fff;
  cursor: pointer;
}
