.main-header {
  background-color: #fefaf1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #e0e0e0;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.logo img {
  width: 255px;
  height: auto;
  padding: 5px;
}

.search-bar {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  flex-grow: 1;
  max-width: 500px;
  margin: 0 2rem;
}

.search-bar input {
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  width: 100%;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  border: none;
  background-color: #fff;
  padding: 0 1rem;
  cursor: pointer;
  color: #555;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-btn {
  font-size: 1rem;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem;
}

.announce-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #004799;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
}

.loged-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  color: #000;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  border: 1px solid #ddd;
}

.announce-btn .material-symbols-outlined {
  font-size: 1.2rem;
}

.category-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
  border-top: 1px solid #eee;
}

.category-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #e1a122;
  color: #333;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}

.category-links {
  display: flex;
  gap: 1.5rem;
  flex-grow: 1;
  margin-left: 2rem;
}

.category-links a {
  text-decoration: none;
  color: #004799;
  font-weight: 500;
  font-size: 0.95rem;
}

.notification-btn {
  color: #e1a122;
  text-decoration: none;
}
