.footer {
  background-color: #fefaf1;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer p {
  color: #333;
  font-size: 1rem;
}

.footer img {
  max-width: 36px;
  margin-left: 10px;
}
