.main {
  max-width: 1400px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.titulo-pagina h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.container-passo4 {
  max-width: 1000px;
  margin: 0 auto;
}

.painel-final {
  background-color: #f2f2f2;
  border-radius: 12px;
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conteudo-central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 40px;
  padding-bottom: 60px;
}

.bloco-fipe h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
}

.box-valor-fipe {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  display: inline-block;
}

.bloco-input-valor {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.bloco-input-valor label {
  position: absolute;
  right: 52%;
  font-weight: bold;
  font-size: 20px;
  color: #000;
  margin-right: 160px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.input-valor {
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 12px 20px;
  width: 300px;
  outline: none;
  font-size: 16px;
  background: white;
  text-align: center;
}

.rodape-botoes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  border: none;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.btn-voltar {
  background-color: #004aad;
}

.btn-voltar:hover {
  background-color: #003380;
}

.btn-finalizar {
  background-color: #dda623;
}

.btn-finalizar:hover {
  background-color: #c4921b;
}
